<template lang="pug">
  section#app
    section.hero.is-transparent.is-fullheight-with-navbar
      .hero-head
        nav.navbar
          .container
            .navbar-end
              span.navbar-item.is-pulled-right
                a(href='/resume.pdf').button.is-outlined.is-inverted.is-link Resume
      .hero-body.has-text-left.has-text-white
        .container
          h2.tagline.is-size-4 Hi, my name is
          h1.title.is-size-1.has-text-white Teslim Olunlade.
          h2.subtitle.is-size-3.is-size-4-mobile.has-text-weight-bold.has-text-white-bis
            |I build performant mobile and web applications.
          .columns.is-vcentered.is-inline-flex
            .column.is-narrow.is-paddingless
              a(href='https://github.com/ogtega', target='_')
                figure.image.is-96x96
                    img(src='./assets/github-box.svg')
            .column.is-narrow.is-paddingless
              a(href='https://linkedin.com/in/tolunlade', target='_')
                figure.image.is-96x96
                    img(src='./assets/linkedin-box.svg')
    Projects
    .email-wrapper
      span.email-container.is-hidden-touch
        a(href='mailto:tolunlade@outlook.com').email tolunlade@outlook.com
</template>

<script>
import Projects from './Projects.vue';

export default {
  name: 'app',
  components: {
    Projects,
  },
};
</script>

<style lang="scss">
@charset "utf-8";

$box-radius: 3px;
$link: #9380b2;
$primary: #ffc177;

$body-background-color: $primary;

$family-primary: "Roboto";
$family-secondary: "Roboto";

@import "../node_modules/bulma/bulma.sass";

.email-wrapper {
  position: fixed;
  right: $gap;
  bottom: 0;

  .email-container {
    display: flex;
    align-items: center;
    position: relative;
    writing-mode: vertical-rl;

    &::after {
      content: "";
      width: 1px;
      display: block;
      height: 5rem;
      background-color: $link;
      margin: 0px auto;
    }
  }

  .email {
    margin: 1rem;
  }
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,900");
</style>
