<template lang="pug">
section.section#projects
  .container
    .title.has-text-white Projects
    .columns
      .column.is-one-third
        .box
          .subtitle
            a(href='https://github.com/ogtega/face_tracker' target='_') face_tracker
          p.
            This project is a basic demo utilizing OpenCV to identify 
            and track human faces using a neural network model.
          br
          .tags
            span.tag C++
            span.tag DNN
            span.tag OpenCV
      .column.is-one-third
        .box
          .subtitle
            a(href='https://github.com/ogtega/manticore' target='_') manticore
          p.
            Manticore is a mobile network ping sweeping tool that detects and 
            identifies hosts on a IPv4 network.
          br
          .tags
            span.tag Android
            span.tag Java
            span.tag OkHttp
            span.tag RxJava
      .column.is-one-third
        .box
          .subtitle
            a(href='https://github.com/ogtega/steamauth' target='_') steamauth
          p.
            This project is a simple third party Steam 2FA allowing storage 
            of multiple account credenetials.
          br
          .tags
            span.tag Dart
            span.tag Flutter
</template>

<style lang="scss">
#projects {
  min-height: 100%;
}
</style>
